/* SportsBlog.css */
.sports-blog {
  font-family: "Work Sans", sans-serif;
   background-color: #1e1e1e;
  color: #ffffff;
  }

.sports-blog h1 {
  font-family: "Montserrat", sans-serif;
    color: yellow;
  font-size: 32px;
  text-align: center;
}



.sports-blog h4, .sports-blog h3, .sports-blog h2 {
  color: #feca57;
  margin-top: 20px;
}

.sports-blog p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ddd;
}

.sports-blog p:last-child {
  margin-bottom: 0;
}
.container{
  width:80%;
  margin: auto;
}